<% if (errors) {%>
  <% errors.forEach(function (error) { %>
    <%= __(error) %>
  <% }) %>
<% } %>



<% if (Object.keys(providers).length) {%>
  <h4>You can also use one of these...</h4>

  <% Object.keys(providers).forEach(function (key) { %>
    <a href="/auth/<%= providers[key].slug %>" role="button"><%= providers[key].name %></a>
  <% }) %>
<% } %>
