 <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/styles/styles.css">

<section id='gamecontainer' gameid=<%=gameid%>></section>
<footer id="info"></footer>
<footer id="info">
	
</footer>
<script src="/js/gameMain.js"></script>
<script src="/bower_components/director/build/director.js"></script>

