#chat{

	margin-left: 20px;
		width:100%;
		padding-bottom: 40px;
		height: 40%;
		overflow: auto;
		padding-top:40px;
}
.submitChatMessage
{
	    position: fixed;
    bottom: 0;
    right: 20px;
    height: 40px;
    width: 360px;

}
.topchatmin
{
	bottom: 0px !important;
}
.minclass
{
	display:none;
}
.closechat
{
	float:right;
	padding-right:10px;
	cursor:grab;
}
#topchat{
	position: fixed;
    bottom: 500px;
    width: 360px;
    vertical-align: middle;
    /* line-height: 15px; */
    padding-top: 8px;
    padding-left: 10px;
    height: 30px;
    background-color: #1fa74f;
        right: 20px;
}
#chatmessages
{

	 margin-bottom: 15px; 
}
.modal-content
{
	color:black
}
.chatmessage
{
    overflow-wrap: break-word;
	    line-height: 1.3;
}
#chatbox
{
padding: 20px;
    background-color: #494956;
    overflow: auto;
    right: 20px;
    height: 500px;
    bottom: 0;
    padding-bottom: 20px;
    position: fixed;
    width: 360px;
}
.chatentry
{
	clear:both;
}

.chatuser
{
	font-weight: bold;
	margin-bottom: 8px;


}
.outerchatmessage
{
		float:left;
		width:70%;
		margin-bottom: 30px;
}
		
@mixin half-circle($size){
	height: $size/2;
	width: $size;
	border-radius: $size $size 0 0;
	-moz-border-radius: $size $size 0 0;
	-webkit-border-radius: $size $size 0 0;
}
.chatusericon{
	margin-top: 1px;
		float:left;
	  margin-right: 30px;
     .notplayerchat{
     	 border-radius: 25px;
    border: 2px solid #8AC007;
    padding: 3px; 
    height:30px;
	width: 30px;

	
        text-align: center;
  		.innerchatusertext
  		{
  		    margin-top: 3px;
  		}
     }

	.black-half, .white-half{
		@include half-circle(40px);
		display:none;
	}
	 
	.white-half{
		background: white;
		transform: rotate(180deg);
	
	}
	.black-half{
		background: black;
	}
}



.chatusericon.white.black{
	.notplayerchat
	{
		display: none;
	}
	.black-half, .white-half{
		display:block;
	}
}

.chatusericon.white:not(.black){
	.notplayerchat
	{
		display: none;
	}
	.black-half, .white-half{
		display:block;
	}
	.black-half{
		background: white;
	}
}
.chatusericon.black:not(.white){
	.notplayerchat
	{
		display: none;
	}
	.black-half, .white-half{
		display:block;
	}
	.black-half{
		background: white;
	}
}

