/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define visible focus styles! 
:focus {
  outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
aside
{
  float:left;
  width:30%;
  height: 100%;
}

 .CodeMirror {
      line-height: 1.3em;
      font-family: monospace;

      /* Necessary so the scrollbar can be absolutely positioned within the wrapper on Lion. */
      position: relative;
      /* This prevents unwanted scrollbars from showing up on the body and wrapper in IE. */
      overflow: hidden;
      background-color: white;
      width: 530px;

      /* Copied from Bootstrap's textarea */
      display: inline-block;
      padding: 4px 6px;
      margin-bottom: 9px;
      color: #555555;
      border: 1px solid #ccc;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
      -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
      -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
      -o-transition: border linear 0.2s, box-shadow linear 0.2s;
      transition: border linear 0.2s, box-shadow linear 0.2s;  
    }

    .CodeMirror-focused {
      /* Copied from Bootstrap's textarea */
      border-color: rgba(82, 168, 236, 0.8);
      outline: 0;
      outline: thin dotted \9;
      /* IE6-9 */

      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
         -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);  
    }

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}
body
{
	font-family: 'Raleway', sans-serif;
    background: #24242d;
    color: white;

}
textarea
{
  color:black;
}

nav:before {
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    content: "";
    height: 56px;
    left: -2%;
    position: fixed;

    width: 104%;
    will-change: top,left;
}
nav a
{
  text-decoration: none;
  color:white;
}
 a:visited
{
  color:green;
}
html body
{
  height:100%;
}
nav a:visited {
    color: white;
}
nav
{
  z-index: 22;
  position: fixed;
  background-color: rgb(73,73,86);
  width:100%;
  height: 56px;
  padding-left: 20px;
  /* This aligns items to the end line on main-axis */
  
      display: -webkit-flex;
    display: flex;
    flex: 1;
}
.starting
{
   background-size: cover;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  height: 800px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
  pointer-events: none;
}
#login
{
    display: flex;
    position: fixed;
    margin: auto 0;
    right:0;
    height: 56px;
    padding-right: 20px;
    margin: 20px 0 0 5px;
}
#login div a
{
  padding-right: 10px;
}
input
{
  color:black;
}
h1
{
  font-size: 20px;
  text-decoration: underline;;
  padding: 15px;
}
#title
{
  font-size: 2.0em;
  
 margin: auto 0;

}
#main
{
      padding-top: 56px;
}
.griddle-container
{
  border:none;
}
.lobby_board
{
  
}
.griddle-previous
{

  display: inline-block;
}
.usergames
{
      background: none !important;
}
.griddle-next 
{

  display: inline-block;
}
.stats
{
  padding-left: 20px;
}
.wins
{
  margin-left:4px; 
  color:rgb(58,188,0);
}
.losses
{
  margin-left:4px; 
  color:rgb(149,10,4);
}
.griddle-page
{
        padding-top: 50px;
      margin-right: 20px;
    margin-left: 20px;
 display: inline-block;
}
.griddle-footer
{
  padding-top: 20px;
  clear: both;
  text-align:center;
}
.board
{
    
   padding-top: 50px;
      padding-bottom: 100px;
    float: left;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 8.75%;
 -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;

}
}

.black
{
	fill:black;
}
.white
{
	fill:white;
}
h2
{
  font-size: 30px;
}
.popupbegin
{
  bottom:15px;
  right:15px;
  font-size: 30px;
  color:green;
  position: absolute;
}
.invitetoclip
{
    bottom:15px;
    background-color: rgba(0,0,0,0);
    border: none;
  left:15px;
  font-size: 20px;
  color:green;
  position: absolute;
}
.lobbyusername
{
     float: left;
    display: inline-block;
    margin-top: 17px;
    margin-left: 10px;

}
.login input
{
  margin-bottom: 10px;
  text-align: center;
  width:300px;
}
.booyah-box {
    text-align: center;
    background: rgb(73,73,86);
    border: none;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 20px;
}
.joinnow
{
  color:red !important;
}
.griddle-container
{
  padding:20px;
}
.name
{
  margin-left: 50px;
  margin-top: 20px;

}
.nametag
{
    clear: both;
}
.custom-row-card {
  float: left;
  width: 25%;
  margin-bottom: 2rem;
  height: 300px;
    margin-bottom: 170px;
}
.white-lobby
{
  float:left;
  background-color: white;
  display:inline-block !important;
}
.black-lobby
{
   float:left;
  background-color: black;
  display:inline-block  !important;
}
.popup
{

    position: fixed;
    left: 50%;
    top: 50%;
    background-color: gray;
    z-index: 100;
    height: 400px;
    margin-top: -200px;
    padding:30px;
    width: 600px;
    margin-left: -300px;
}
.empty
{
	fill-opacity:0.5;
}
.emptyTerrority
{
  fill-opacity:0.5;
}
.empty:hover
{
	fill-opacity:1;
}
.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0.01;
}