/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define visible focus styles! 
:focus {
  outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
aside
{
  float:left;
  width:30%;
  height: 100%;
}



.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}
body
{
	font-family: 'Raleway', sans-serif;
    background: #24242d;
    color: white;

}


nav:before {
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    content: "";
    height: 56px;
    left: -2%;
    position: fixed;

    width: 104%;
    will-change: top,left;
}
nav a
{
  text-decoration: none;
  color:white;
}
 a:visited
{
  color:green;
}
html body
{
  height:100%;
}
nav a:visited {
    color: white;
}
nav
{
  z-index: 22;
  position: fixed;
  background-color: rgb(73,73,86);
  width:100%;
  height: 56px;
  padding-left: 20px;
  /* This aligns items to the end line on main-axis */
  
      display: -webkit-flex;
    display: flex;
    flex: 1;
}
.starting
{
   background-size: cover;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  height: 800px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
  pointer-events: none;
}
#login
{
    display: flex;
    position: fixed;
    margin: auto 0;
    right:0;
    height: 56px;
    padding-right: 20px;
    margin: 20px 0 0 5px;
}
h1
{
  font-size: 20px;
  text-decoration: underline;;
  padding: 15px;
}
#title
{
  font-size: 2.0em;
  
 margin: auto 0;

}
#main
{
      padding-top: 56px;
}
.board
{
    
   padding-top: 50px;
      padding-bottom: 100px;
    float: left;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 8.75%;
 -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;

}
}

.black
{
	fill:black;
}
.white
{
	fill:white;
}
h2
{
  font-size: 30px;
}
.popupbegin
{
  bottom:15px;
  right:15px;
  font-size: 30px;
  color:green;
  position: absolute;
}
.invitetoclip
{
    bottom:15px;
    background-color: rgba(0,0,0,0);
    border: none;
  left:15px;
  font-size: 20px;
  color:green;
  position: absolute;
}
.popup
{

    position: fixed;
    left: 50%;
    top: 50%;
    background-color: gray;
    z-index: 100;
    height: 400px;
    margin-top: -200px;
    padding:30px;
    width: 600px;
    margin-left: -300px;
}
.empty
{
	fill-opacity:0.5;
}
.emptyTerrority
{
  fill-opacity:0.5;
}
.empty:hover
{
	fill-opacity:1;
}
.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0.01;
}